body {
  background: url(images/bg_dirt.jpg) center;
	font-size: 16px;
	font-weight: 300;
	color: #555;
	margin: 0;
	padding: 0;
}

#page {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

header {
  margin: auto;
}

header a img {
  width: 120px;
  height: 140px;
  margin: 20px;
}

header h1 {
  font-size: 2em;
  font-weight: bold;
  float: right;
}

.logo {
  padding: 20px;
}
