body {
  background: url(images/bg_dirt.jpg) center;
	font-size: 16px;
	font-weight: 300;
	color: #555;
	margin: 0;
	padding: 0;
}

h1 {
  color: red;
  margin: 0;
  padding: 20px;
}

#page {
	max-width: 980px;
	margin: 0 auto;
	position: relative;
  background-color: white;
}

header {
  margin: 0;
  background-image: url(images/slide_1.jpg);
  height: 640px;
  position: relative;
}

header a img {
  width: 120px;
  height: 140px;
  margin: 20px;
  z-index: 1;
}

nav {
	background-color: rgba(0,0,0,.65);
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 50px 0 0 0;
	width: 100%;
}

nav::after {
	content: '';
	display: block;
	clear: both;
}

nav ul li {
	list-style: none;
	margin: 0;
	padding: 0px;
}

nav ul li a {
	display: inline-block;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	width: 125px;
	position: relative;
  float: right;
}

header h1 {
  width: 450px;
  height: 250px;
  font-size: 3.4em;
  font-weight: bold;
  color: #fff;
  float: right;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.logo {
  padding: 20px;
}
#list-of-burgers ul {
	list-style: none;
  margin: 0;
  padding: 0;
}
#adresse {
  visibility: hidden;
}
.one-burger-card {
  margin: 20px;
  padding: 20px;
  height: 85px;
  list-style: none;
  border: 1px solid lightgray;
  border-radius: 15px;
}
footer {
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: black;
}
